<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
<!--    <script defer src="../../webapp/scripts/script.js"></script>-->
</head>
<body>
  <div id="error"></div>
  <form autocomplete="off" id="form" action="login" method="POST">
    <div>
      <label for="username"><b>Name</b></label>
      <input id = "username" name="username" placeholder="Enter username" type="text" required>

      <label for="password"><b>Password</b></label>
      <input id="password" name="password" placeholder="Enter password" type="password" required>
      
      <button type="submit">Login</button>
      <label>
        <input type="checkbox" checked="checked" name="remember_me"> Remember me
      </label>
    </div>
  </form>
</body>
</html>